html {
  position: relative;
  min-height: 100%;
}
main {
  margin: 80px 0;
}
body {
  background-image: url(images/portback.jpg);
  background-size: cover;
}
.block {
  background-color:#fff;
  padding: 30px;
  margin-bottom: 30px;
  border: 10px maroon;
  border-radius: 25px;
}
.portblock {
  background-color:#fff;
  margin-bottom: 30px;
}
.block-header {
  color: maroon;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
#sub-header {
  font-family:'Satisfy', cursive;
}
.photo {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0;
}
.footer { 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: grey;
  color: white;
  text-align: center
}
.card {
  float: left;
  margin: 50px 10px 20px 0px;
}
#logo {
  font-family:'Permanent Marker', cursive;
}

@media screen and (max-width: 600px) {
  body {
    background-color: maroon;
  }
}